html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.titulo{
    text-align:center;
}

.fondo {
    background-color: #f3f8f6;
}

.fondonavbar {
    color: #2192FF
}