@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <h2>Navegue por nuestros servicios</h2>

    <div>
        <img style="text-align:center;padding-left: 135px;height: 650px;width: 1159px;" src="~/images/fondoagaval.jpg" width="1024" height="768" alt="Imagen de bienvenida">
    </div>

    

    


</div>
